<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.airbnb.android.react.maps.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission tools:node="remove" android:name="android.permission.RECORD_AUDIO" />
    <uses-permission tools:node="remove" android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission tools:node="remove" android:name="android.permission.CAMERA" />
    <uses-permission tools:node="remove" android:name="android.permission.READ_CONTACTS" />
    
    <application
      android:name=".MainApplication"
      android:usesCleartextTraffic="true"  
      android:networkSecurityConfig="@xml/network_security_config"
      >
    </application>

</manifest>